/*--------µÇÂ¼--------*/
.sign-in {
	background: none repeat scroll 0 0 #F1F1F1;
	height: 300px;
	margin: 0 auto;
	width: 600px;
}

.signin-box {
	margin: 100px 0 0;
	padding: 20px 25px 15px;
}

.signin-box-title {
	text-align: center;
}

.signin-box-content-title {
	color: #000000;
	font-size: 20px;
	margin: 25px 0px;
	text-align: center;
}

.signin-table {
	margin: 0 auto;
}

.signin-field {
	display: block;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
}

.signin-input {
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #9CB1CE;
	box-shadow: 0 -1px 0 #D8DDE9, 0 1px 2px #D8DDE9 inset;
	height: 25px;
	margin-bottom: 10px;
	width: 240px;
}

.signin-btn-div {
	padding-top: 10px;
	text-align: center;
}

.signin-btn {
	background-color: #F1F1F1;
	border: 1px solid #9CB1CE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	height: 30px;
	line-height: 35px;
	width: 80px;
	cursor: pointer;
}

.signin-btn:hover {
	background-color: #F8F8F8;
}